{% extends "base.html" %}

{% block content %}

<div class="min-h-[80vh] flex items-center justify-center">
  
  <div class="bg-white shadow-2xl rounded-2xl p-10 w-full max-w-md">

    <div class="flex justify-center mb-8">
      <img
        src="/static/images/login_logo.png"
        alt="PixiePinks Logo"
        class="w-52 h-auto object-contain drop-shadow-lg"
      >
    </div>

    <form method="post" class="space-y-5">

      <input
        type="hidden"
        name="next"
        value="{{ next or '/dashboard' }}"
      >

      <input
        name="username"
        placeholder="Username"
        class="w-full border rounded-xl p-4"
        required
      >

      <input
        name="password"
        type="password"
        placeholder="Password"
        class="w-full border rounded-xl p-4"
        required
      >

      <button
        class="w-full bg-black text-white py-4 rounded-xl font-semibold hover:bg-gray-800 transition"
      >
        Sign in
      </button>

    </form>

  </div>

</div>

{% endblock %}
